<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pcm.framework"
    >
    <uses-permission android:name="android.permission.CAMERA"/>
    <!--允许窗口权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建相册-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
</manifest>
